.onlyText {
    min-height: 10vh;
    width: 100vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 100px;
}

.onlyTextContainer {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.yesButton {
    width: 359px;
    height: 63px;
    background: linear-gradient(113.55deg, #DAEB78 5.58%, #FDE177 103.2%);
    box-shadow: 0px 0px 20px rgba(186, 186, 186, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 70px;
}
.underYesButton {
    text-align: center;
    font-size: 15px;
    margin-top: 5px;
}
